/*  STYLE */
/* BODY STYLE */
body{
               font-family: 'Poppins', sans-serif;
}

h1{ font-size: xx-large;
               font-size: 50px;
}
/* HOVER STYLE */
h1:hover{
  color:cornflowerblue;
}
/* BUTTON STYLE */
.link-button{
  text-decoration: none; 
  align-items: center;
background-color: #E02C6D;
   padding: 10px;
   color: white;
   position: absolute;
   width: 168px;

   
   top:464px;
   margin-left:30px;
   margin-top:20px;
  

}
/* SECTION -1 STYLE */
  .first-width img{
                 width: 100%;
                 width: 556.01px;
               
height: 438px;
margin-top: 153px;
margin-right:140.99px;
margin-left: 200px;

  }             
               

.first-width{
               width:100%;
               height: 700px;
               display: flex;
               background-color: #2D25A0;

               
overflow-y:hidden;
overflow-x:hidden;

}
.first-width:hover{
  background-color: thistle;
}

.first-left{
               color: white;
               width: 100%;
               width: 487px;
               height: 320px;
               font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 80px;
margin-top: 221px;


}
/* SECTION-2 STYLE */
h1{
        padding-left: 40px;      
}
.width-2nd{margin-top: 20px;


}
.container{
               width:50%;
               margin-top: 40px;
               justify-content: center;
               align-items: center;
               margin-left: 270px;


}
.players{
               display: grid;
               grid-template-columns: repeat(3,1fr);
grid-row-gap:15px;
grid-column-gap: 25px;


}
.player-name{
           margin-left: 16px;    
}


.player img{
               width: 200px;
               height: 156px;
}

.player{
  padding-left: 20px;
  padding-top: 15px;
               width: 230px;
               height: 373px;
               align-items: center;
               border: 2px solid whitesmoke;
               box-shadow: 0px 0px 40px 0px #00000026;

}
p{
  font-size: 10px;
}
/* copa amireka*/
.copa{
  margin-top: 40px;
  margin-bottom: 60px;
  align-items: center;
}
.about-copa{
  font-size: 15px;
  color: brown;
}
h2{
  color: rgb(54, 43, 43);

}



/* ICON STYLE */
.icon-some{
  width:400px;
  margin-left: 275px;
}
.icon-background{
margin:25px;
background-color: darkgray;
border-radius: 45px;
padding-left:5px;
padding-right: 5px;


}
/* FORM STYLE */
.form-part{
  margin-top: 40px;
}
.instraction{
  font-size: 20px;
}
/* FOOTER STYLE */
footer{
  margin-left: 300px;
}
  






/* media STYLE */

@media only screen and (max-width:688px){

.players, .container
{
  align-items: baseline;
  width: 100%;
  overflow-x: hidden;
  margin-left: 40px;
  display: grid;
  grid-template-columns:repeat(1,1fr);
               }
               
               .first-width{
                width: 300px;
                align-items: baseline;
 }
}
                      
 }
 .player{
                flex-direction: column;
 
}
}
